<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="icon" type="image/x-icon" href="../static/icon.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Mooli&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap"
      rel="stylesheet"
    />
  </head>

  <style>
    * {
      font-family: "Mooli", sans-serif;
    }
    body {
      background-color: rgba(0, 0, 0, 0.8);
      color: bisque;
      font-size: 24px;
    }
    div {
      margin-left: 5%;
      margin-top: 4%;
    }

    #solveAnother {
      font-size: 14px;
      background-color: #d9c8f0;
      padding: 10;
      margin-top: 5;
      border-radius: 12px;
      font-style: bold;
      width: 120px;
      height: 48px;
      margin-top: -3%;
      margin-left: 5%;
    }
  </style>
  <body>
    <h2 style="text-align: center">Contact</h2>
    <a href="/"
      ><button style="float: left; position: absolute" id="solveAnother">
        Back To Home
      </button></a
    >
    <div style="margin-left: 37%">
      <p>
        Nazrul Islam Ridwan<br />
        Email: riidwaan5060@gmail.com<br />
        Phone: 01965632132
      </p>
      <br />

      <p>
        MD Hirok Reza<br />
        Email: hirokreza121@gmail.com<br />
        Phone: 01909344390
      </p>
      <br />

      <p>
        Rakib Hossain<br />
        Email: rakib.hosen.tamim.2k2@gmail.com<br />
        Phone: 01625-642923
      </p>
      <br />

      <p>
        Sagar Mollah<br />
        Email: tahasanhabib83@gmail.com<br />
        Phone: 01965632132
      </p>
      <br />

      <p>
        Rimon Chakma<br />
        Email: rimonno2021@gmail.com<br />
        Phone: 01533503489
      </p>
      <br />

      <p>
        MD. BAYEAZID HASAN<br />
        Email: bayazidhassan2003@gmail.com<br />
        Phone: 01728046415
      </p>
      <br />

      <p>
        Shakibur Rahman<br />
        Email: mdshakiburr42@gmail.com<br />
        Phone: 01965632132
      </p>
      <br />

      <p>
        Imamul Haque<br />
        Email: itk21st@gmail.com<br />
        Phone: 01531-849444
      </p>
      <br />

      <p>
        Md. Isteak Ahmed Shajal <br />
        Email: isteak.0023@gmail.com<br />
        Phone: 01305701639
      </p>
      <br />

      <p>
        Md. Mahamudul Hasan Limon<br />
        Email: limonhasan121999@gmail.com<br />
        Phone: 01814254574
      </p>
      <br />

      <p>
        MARUF BILLAH<br />
        Email: marufbillah2929@gmail.com<br />
        Phone: 01630169247
      </p>
      <br />
    </div>

    <script>
      document
        .getElementById("solveAnother")
        .addEventListener("click", function () {
          // Close the current tab or window
          window.close();
        });
    </script>
  </body>
</html>
