<!DOCTYPE html>
<html lang="en">

<head>
   <title>NonExact separable ODE</title>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--  -->
   <link rel="stylesheet" href="../static/styles.css">
   <script src="../static/main.js"></script>
   <link rel="icon" type="image/x-icon" href="../static/icon.jpg">
   <!--  -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Mooli&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap"
      rel="stylesheet">
   <!--  -->

</head>

<body>

   <div class="welcomediv" id="welcomediv">

      <!-- Navigation section -->
      <div id="mySidenav" class="sidenav">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
         <a href="#">About</a>
         <a href="#">Services</a>
         <a href="#">User Manual</a>
         <a href="#">Contact</a>
      </div>
      <!-- END Navigation section -->
      <!-- Navigation button -->
      <span class="navbar" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

      <br>
      <br>
      <div>
         <p>
            <h1 class="h11">Welcome To Our Program</h1>
            <br>
            <br>
            <h1 class="h22">Differential Equation Solver</h1>
         </p>
            
         <p class="intro">
         <button id="start" class="buttonDeafult" type="button" onclick="toggleDivs()">Click To Start</button>
         </p>
      </div>

   </div>
  

   <div class="solutionDiv" id="solutionDiv">
      <button class="cross" title="Close" type="button" onclick="backtostart();solveAnother();f2();f1();">X</button>

      <p>
      <form class="solveform" id="solveforms"  method="post">

         <label id="lbl" for="eqnField">Enter seperable O.D.E function :</label>
         <br><br>
         <input type="text" id="eqnField" name="eqnField" placeholder="E.g:  M(x,y)dx + N(x,y)dy = 0" required autofocus>
         <br>
         <button class="buttonDeafult" id="cnd" onclick="handleButtonClick(event)">With Initial Condition</button>


         <br>
         <div id="xy">
            <label class="xLabel" for="x">X :</label>
            <input type="number" id="x" name="x" placeholder="x">
            <label class="yLabel" for="y">Y :</label>
            <input type="number" id="y" name="y" placeholder="y">
         </div>

         <button class="buttonDeafult" type="button" id="resetForm" onclick="solveAnother()">Clear Equation</button>
         <button class="buttonDeafult" value="submit" id="solve" type="submit">Solve</button>

      </form>

      <!-- <br><br> -->

   </div>


   <!-- waiting div -->
   <div class="waitingdiv" id="waitingdiv">
      <p class="div3p1">Our program is awaiting your confirmation</p>
      <p class="div3p2" >
         Click the button to proceed
         <br>
         <div class="container">
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         </div>
      </p>
   </div>


   <!-- for solve Another ..it prevent waiting div to show up -->
   <script>
      // Get the function name from the query parameter
      var functionName = '{{ toggleDivs }}';
      // Call the function if it exists
      if (functionName && typeof window[functionName] === 'function') {
         window[functionName]();
      }
  </script>

</body>

</html>