<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   

 <style>

 body{
          margin-top:16%;
          background-color: lightslategrey;
 }

#eq, #eq2{
    margin-top: 7px;
    width: 290px;
    height: 40px;
    font-size: 17px;
}

#inputEQ, #solEQ{

   font-size: 24px;

}

#solveAnother{

   font-size: 14px;
    background-color: #d9c8f0;
    padding: 10px;
    margin: 18px;
    /* border: 2px solid black; */
    border-radius: 7px;
    font-family: Verdana;
    font-style: bold;
}
         





  </style> 
</head>
<body>
   {% if eqn %}
   <p> {{eqn}}</p>
   {%endif%}
   
   <!--  -->
   
   <form style="text-align: center;" >
      
      <label id="inputEQ" for="eq">Entered Equation :</label><br>
      <input type="text" id="eq" name="eq" placeholder="Entered Equation"><br><br>
      <label id="solEQ" for="eq2">Solution :</label><br>
      <input type="text" id="eq2" name="eq2" placeholder="Solution :">
   </form>
   
   <br>
   <button style="margin-left: 44.4%;" id="solveAnother" type="submit" onclick=" ">Solve Another</button>





   <!--  -->
  
</body>
</html>
